export( boolean,
        boolfirst,
        boolprep,
        boolprof
)
importFrom("stats", "coef", "fitted", "fitted.values", "weights")
	
S3method(coef, booltest)
S3method(summary, booltest)
S3method(fitted, booltest)
S3method(fitted.values, booltest)
S3method(print, summary.booltest)
S3method(weights, booltest)
